<div class="droppelion" ng-class="{ 'drop-active': focused, 'selected': selected }">
  <div class="search-field">
    <input type="text" autocomplete="off" id="{{controlId}}" class="form-control" ng-model="itemName" placeholder="{{prompt}}" ng-keyup="keyPressed($event)" ng-focus="focused = true" ng-blur="blur()" ng-change="changedSearch()" ng-disabled="selected"/>
    <a href="#" class="loading" ng-show="loading"></a>
    <a href="#" class="clear-selection" ng-show="selected" ng-click="clearSelection()">
      ✖
    </a>
  </div>

  <div class="droppelion-drop" ng-show="dropDownVisible">
    <ul class="droppelion-results">
      <li class="item" ng-repeat="item in filteredItems track by $index" ng-click="handleSelection(item)" ng-class="{'highlighted':isCurrent($index)}" ng-mouseenter="setCurrent($index)" >
        <div class="title">{{item[title]}}</div>
      </li>

      <li class="item no-elements" ng-show="filteredItems.length == 0">
        Nothing found
      </li>
    </ul>
  </div>
</div>