<div class="droppelion" ng-class="{'pure-active': focused}">
  <div class="search-field">
    <input type="text" autocomplete="off" id="{{controlId}}" class="form-control" ng-model="itemName" placeholder="{{prompt}}" ng-keydown="keyPressed($event)" ng-focus="focused = true" ng-blur="blur()" ng-change="changedSearch()"/>
    <a href="#" class="loading" ng-show="loading"></a>
  </div>

  <div class="droppelion-drop" ng-hide="selected">
    <ul class="droppelion-results">
      <li class="item" ng-repeat="item in filteredItems track by $index" ng-click="handleSelection(item)" ng-class="{'highlighted':isCurrent($index)}" ng-mouseenter="setCurrent($index)" >
        <div class="title">{{item[title]}}</div>
      </li>
    </ul>
  </div>
</div>